.posts {
    margin: 4rem 0 0 0;
    color: var(--body);

    a {
        display: block;
    }

    a + a {
        margin-top: 4rem;
    }

    button {
        color: var(--highlight);
        background: transparent;
        border: none;
        margin-top: 4rem;
        font-size: ;
        font-weight: bolder;

        transition: color 0.2s;

        &:hover {
            color: var(--highlight-02);
        }
    }

}

    .post {
        h1 {
            font-size: 1.75rem;
            font-weight: bold;
            color: var(--heading);

            transition: color 0.2s;

            &:hover {
                color: var(--highlight);
            }
        }

        p {
            margin-top: 0.6rem;
            font-size: 1.120rem;
        }

        ul {
            list-style: none;
            margin: 1.3rem;
            display: flex;

            & li {
                margin-left: 1rem;
                font-size: 0.9rem;

                & svg {
                    margin-right: 0.5rem;
                }

                & + li {
                    margin-left: 2rem;
                }
            }
        }
}